# Core libraries for data manipulation and numerical operations
pandas==2.2.2
numpy==1.26.4

# Machine learning libraries
scikit-learn==1.3.2
statsmodels==0.14.3

# Data visualization (for exploratory data analysis)
matplotlib==3.7.1
seaborn==0.13.1

# For saving and loading models
joblib==1.4.2

# For deployment
streamlit==1.38.0
